
__pycache__/metrics.cpython-37.pyc
.idea/vcs.xml
.idea/siren.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/csv-plugin.xml
output/*
games/__pycache__/reexposition.cpython-37.pyc
games/__pycache__/basic_.cpython-37.pyc
